@font-face {
    font-family: 'librebaskerville';
    src: url('/webfontkit-20220518-083436/librebaskerville-bold-webfont.eot') format('eot'),
         url('/webfontkit-20220518-083436/librebaskerville-bold-webfont.svg') format('svg'),
         url('/webfontkit-20220518-083436/librebaskerville-bold-webfont.woff') format('woff'),
         url('/webfontkit-20220518-083436/librebaskerville-bold-webfont.woff2') format('woff2'),
         url('/webfontkit-20220518-083436/librebaskerville-italic-webfont.eot') format('eot'),
         url('/webfontkit-20220518-083436/librebaskerville-italic-webfont.svg') format('svg'),
         url('/webfontkit-20220518-083436/librebaskerville-italic-webfont.woff') format('woff'),
         url('/webfontkit-20220518-083436/librebaskerville-italic-webfont.woff2') format('woff2'),
         url('/webfontkit-20220518-083436/librebaskerville-regular-webfont.eot') format('oet');
}

body
{
  background-color: #000000;
  margin: 0% 0% 0% 1%;
  font-family: 'librebaskerville';
  font-size: 18px ;
  font-style: italic;
  font-weight: bold ;
}

.galerie
{
  display: flex;
  flex-wrap: wrap; 
}

.carre
{  
  height: 50vh;
  width: 33%;  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;
}



.pop:hover
{
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold ;
}



.imageMarbre
{
  background-image: url(Marbre-or-blanc.png);
}


.rail
{
  background-image: url(rail.png) ;
  background-repeat: no-repeat;
  background-size: cover;
}

.imageDev
{
  background-image: url(developpeur-web.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.gold {
  color: #B99A3B;
}

.black {
  color:#000000;
}

/* PAGE "PROJET" */
.index2
{
  display: flex;
  justify-content: space-around;
  background-color: black;
  position:absolute;
  top: 10%;
  left: 11%;
  width: 77%;
  height:80%;
  opacity: 0.97;
}


.h2site
{
  color: #B99A3B;
  width: 90% ;
  padding-left: 5%;
  margin: 12% 0%;
}

.h2cv
{
  color: #B99A3B;
  padding-left: 33%;
  margin: 12% 0%;
}

.capture
{
  width: 800px;
  height: 425px;
  outline: solid 2px #E6E5E2;
  transition: transform 1.2s;
  display:block;
}

.capture:hover
{
  -ms-transform: scale(2.2); /* IE 9 */
  -webkit-transform: scale(2.2); /* Safari 3-8 */
  transform: scale(2.2);
  transition: transform 1.2s;
  display:block;
 /*regarder translate*/
}

/* fin page "projet" */

.index3
{
  background-color: black;
  position:absolute;
  top: 175px;
  left: 315px;
  width: 70%;
  height:65%;
  opacity: 0.97;
}

.index4
{
  background-color: black;
  position:absolute;
  top: 175px;
  left: 315px;
  width: 70%;
  height:65%;
  opacity: 0.97;
}