@font-face {
    font-family: 'librebaskerville';
    src: url('/webfontkit-20220518-083436/librebaskerville-bold-webfont.eot') format('eot'),
         url('/webfontkit-20220518-083436/librebaskerville-bold-webfont.svg') format('svg'),
         url('/webfontkit-20220518-083436/librebaskerville-bold-webfont.woff') format('woff'),
         url('/webfontkit-20220518-083436/librebaskerville-bold-webfont.woff2') format('woff2'),
         url('/webfontkit-20220518-083436/librebaskerville-italic-webfont.eot') format('eot'),
         url('/webfontkit-20220518-083436/librebaskerville-italic-webfont.svg') format('svg'),
         url('/webfontkit-20220518-083436/librebaskerville-italic-webfont.woff') format('woff'),
         url('/webfontkit-20220518-083436/librebaskerville-italic-webfont.woff2') format('woff2'),
         url('/webfontkit-20220518-083436/librebaskerville-regular-webfont.eot') format('oet');
}

body
{
  background-color: #000000;
  margin: 0;
  font-family: 'librebaskerville';
  font-size: 18px ;
  font-style: italic;
  font-weight: bold ;
}

.galerie
{
  display: flex;
  flex-wrap: wrap; 
}

.carre
{  
  height: 50vh;
  width: 33%;  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;
}



.pop:hover
{
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold ;
}



.imageMarbre
{
  background-image: url(Marbre-or-blanc.png);
}


.rail
{
  background-image: url(rail.png) ;
  background-repeat: no-repeat;
  background-size: cover;
}

.imageDev
{
  background-image: url(developpeur-web.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.gold {
  color: #B99A3B;
}

.black {
  color:#000000;
}

.index2
{
  background-color: black;
  position:absolute;
  top: 175px;
  left: 315px;
  width: 70%;
  height:65%;
  opacity: 0.97;
}